header{
    /*border: solid 1px red;*/
    text-align: center;
    font-size: 3em;
}


div{
    
    margin: 2em 3em 0 3em;
    background-color: black;
    padding-left:1em ;
    padding-bottom:1em ;
    border: none;
    border-radius: 10px;
}

img{
    margin-left: 50%;
    margin-top: -100px;
    border-radius: 50%;
}

h2{
    
    margin: 0;
    color: aliceblue;
}
p{
    
    color: aliceblue;
}

span{
    color: chocolate;
}

button {
    display: block;
    border-radius: 5px;
    font-size: 15px;
    padding: 1em; 
    background-color: chocolate;
    border: none;
    
}